<div class="container">
    <div class="data">
    <input
    class="InputData"
    type="text" 
    placeholder="Enter location"
    value={{location}}
    (change)="onLocationChange($event)" 
    (keyup.enter)="fetchDetails()"
    />
    <div class="date">{{ currDate }}</div>
    <div class="time">{{ currTime }}</div>
    <div class="location" data-testid="location" >{{ data.name }}</div>
    <div *ngIf="data.main" class="temp">{{data.main.temp}}°F</div>
    <div *ngIf="data.weather" class="condition">{{ data.weather[0].description }}
    </div>
    </div>
    <div class="bottom-data">
      <div *ngIf="data.main" class="feels">
        <p class="bold">{{ data.main.feels_like }}°</p>
        <p>Feels Like</p>
      </div>
      <div *ngIf="data.main" class="humidity">
        <p class="bold">{{ data.main.humidity }}%</p>
        <p>Humidity</p>
      </div>
      <div *ngIf="data.wind" class="wind">
        <p class="bold"> {{data.wind.speed}} MPH</p>
        <p>Wind Speed</p>
      </div>
    </div>
</div>

