<div className="container">
    <!-- <div className="data">
    <input
    placeholder="Enter Location"
    className="InputData"
    type="text" />
    <div className="date"></div>
    <div className="time"></div>
    <div className="location" data-testid="location" ></div>
    <div className="temp">
    °F</div>
    <div className="condition">
    </div>
    </div>
    <div className="bottom-data">
      <div className="feels">
        <p className="bold">°</p> : null
        <p>Feels Like</p>
      </div>
      <div className="humidity">
        <p className="bold">%</p>
        <p>Humidity</p>
      </div>
      <div className="wind">
        <p className="bold">MPH</p>
        <p>Wind Speed</p>
      </div>
    </div> -->
</div>
